name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # daily at 12 AM UTC

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          # optional tweaks:
          SHOW_TITLE: true
          SECTION_NAME: waka
          TIME_RANGE: all_time
          SHOW_TOTAL: true
          LANG_COUNT: 5
